.hidden {
    display: none;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 28px;					
    padding: 5px;				
    font: 12px sans-serif;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#quality_graph {
    display: inline-block;
    vertical-align: top;
}

#dim-scatter-plot {
    display: inline-block;
    vertical-align: top;
}
